.header-section {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;

  .header-infomation {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title-aplication {
    font-size: 16px;

    &.light {
      color: #fff;
    }
  }

  .toggle-exit-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .sun {
    width: 24px;
    height: 24px;
  }

  .button-exit {
    width: 100px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.25);
    gap: 6px;
    border-radius: 14px;
    cursor: pointer;
    box-shadow: 0px 0px 2px black;
    transition: all 0.3s ease;

    &.light {
      color: #fff;
    }

    &:active {
      opacity: 0.5;
      transform: translateY(-5px);

      p {
        opacity: 0.5;
      }
    }
  }
}
