nav {
  ul {
    display: flex;
    flex-direction: column;
    gap: 40px;

    li {
      list-style-type: none;

      .nav-button {
        text-decoration: none;
        color: #000;
        display: flex;
        align-items: center;
        gap: 10px;

        &.light {
          color: #fff;
        }
      }
    }
  }
}
