@mixin button-mixin($color) {
  text-decoration: none;
  color: $color;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav {
  ul {
    display: flex;
    flex-direction: column;
    gap: 40px;

    li {
      list-style-type: none;

      .nav-button {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #000;

        &.light {
          color: #fff;
        }
      }
    }
  }
}
